<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/Estilos.css">
    <title>Proyectos de arquitectura</title>
</head>
<body>
    <header>  
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="../index.html">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../Views/Servicios.html" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="../Views/Servicios.html">Arquitectura Residencial</a>
                      <a class="dropdown-item" href="../Views/Servicios.html">Arquitectura Industrial</a>
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../Views/conocenos.html">Quienes somos?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../Views/contacto.html">Contacto</a>
                </li>
              </ul>
            </div>
          </div>
       </nav>  
      </header>
          <main id="fondo">
            <section id="galeria">
                <div><img src="https://picsum.photos/200/300 "/></div>
            <div class="vertical"><img src="https://picsum.photos/800/600.jpg"/></div>
            <div class="horizontal"><img src="https://picsum.photos/id/201/800/600.jpg"/></div>
            <div><img src="https://picsum.photos/id/202/800/600.jpg"/></div>
            <div><img src="https://picsum.photos/id/203/800/600.jpg"/></div>
            <div class="big"><img src="https://picsum.photos/id/204/800/600.jpg"/></div>
            <div><img src="https://picsum.photos/id/100/800/600.jpg"/></div>
            <div class="vertical"><img src="https://picsum.photos/id/200/800/600.jpg"/></div>
            <div><img src="https://picsum.photos/id/301/800/600.jpg"/></div>
            <div class="horizontal"><img src="https://picsum.photos/id/209/800/600.jpg"/></div>
            <div><img src="https://picsum.photos/id/208/800/600.jpg"/></div>
            <div class="big"><img src="https://picsum.photos/id/500/800/600.jpg"/></div>
            <div><img src="https://picsum.photos/id/600/800/600.jpg"/></div>
            <div class="horizontal"><img src="https://picsum.photos/id/700/800/600.jpg"/></div>
            <div><img src="https://picsum.photos/id/800/800/600.jpg"/></div>
            <div class="big"><img src="https://picsum.photos/id/900/800/600.jpg"/></div>
            <div><img src="https://picsum.photos/id/101/800/600.jpg"/></div>
            <div class="vertical"><img src="https://picsum.photos/id/901/800/600.jpg"/></div>
            </section>
          </main>

        <footer>
                <a  href="#" target="_blank" rel="nofollow noopener">Aviso Legal</a>
                <a  href="#" target="_blank" rel="nofollow noopener">Política de privacidad</a>
                <a  href="#" target="_blank" rel="nofollow noopener">Política de cookies|</a>
                <a  href="#" target="_blank" rel="follow noopener">Contacto</a>
        </footer>

    </div>
    
</body>
</html>